.page {
    margin: 0;
    min-height: 100vh;
    background-color: #121212;
}

.header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.header__title {
    font-family: sans-serif;
    font-size: 64px;
    line-height: 1.35;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.header__subtitle {
    margin-top: 30px;
    max-width: 480px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.35;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.footer__text {
    max-width: 480px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.35;
    font-weight: normal;
    color: #ebebeb;
    text-align: center;
}